<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 text-left">
                <h6>Site Haritası</h6>
                <hr />
                <p>
                    <a href="/Home/About" style="color:black"><span class="fas fa-info-circle" style="color:black"></span>  Hakkımızda</a><br />
                    <a href="/1home/MostLiked" style="color:black"><span class="fas fa-heart" style="color:black"></span>  En Beğenilenler</a><br />
                    <a href="/Home/Index" style="color:black"><span class="fas fa-list" style="color:black"></span>  Son Yazılar</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h6>My Evernote</h6>
                <hr />
                <p class="m-0 text-center text-black-50">Tüm hakları saklıdır &copy; MyEvernote @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h6>E-Bülten Üyeliği</h6>
                <hr />
                <p>MyEvernote ile ilgili güncellemelerden haberdar olmak için e-bültene üye olablirsiniz.</p>
                <p>E-posta adresinizi yazıp hemen aramıza katılın.</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="e-posta adresiniz" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"> <span class="fas  fa-paper-plane"></span> Üye Ol</button>
                    </span>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->
</footer>



