<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <!--Kategoriler-->
            @Html.Partial("_PartialCategories")
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-md-7 col-md-offset-1">
            <div class="row">
                <h2 class="my-4">Hakkımızda</h2>
                <hr />
                <img src="http://placehold.it/500x200" class="center-block img-responsive img-thumbnail" alt="First slide">

                <p>2005 yılından beri Türkiye’de faaliyet gösteren Tchibo, ülkemizde 11 ilde yer alan mağazaları ile, 444 28 26 numaralı telefonla sipariş hattı ve online alışveriş keyfi sunan internet mağazası www.tchibo.com.tr  ile sizlerle buluşmaktadır.</p>
                <p>Yaratıcı ve sıradışı ürünler, üstelik uygun fiyatlarla!</p>
                <p>Perakendeciliğe yepyeni bir anlayış getirerek, tüketicimize ulaşırken iki temel ilkemize özel önem vermektedir: Kalite ve uygun fiyat.</p>
                <p>Tchibo’yu bir kez keşfettikten sonra, bizde bulduğunuz her ürünün her zaman en yüksek kalitede ve uygun fiyatlarda olduğunu göreceksiniz.</p>
                <p>Tüm ürünlerimiz sadece Tchibo dünyasına özeldir.</p>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>

@section footer{
    @Html.Partial("_PartialFooter");
}